html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555555;
  min-width: 320px;
  margin: 0;
  padding: 0;
  list-style: none; }
  body.overflow {
    overflow: hidden; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  width: 100%;
  height: auto; }

.container {
  margin: 0 auto;
  width: 1140px; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

/*header*/
.main-header {
  color: #fff;
  background-image: url(../img/bg-main-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #c0301c;
  position: relative;
  z-index: 1;
  min-height: 768px; }
  .main-header__wrapper {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.45); }
  .main-header__main-navigation {
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: space-between; }
  .main-header__logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff; }
  .main-header .menu-button {
    display: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease; }
    .main-header .menu-button span, .main-header .menu-button span::before, .main-header .menu-button span::after {
      content: '';
      display: block;
      transition: 0.2s;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: white; }
    .main-header .menu-button span::before {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
    .main-header .menu-button span::after {
      -webkit-transform: translateY(5px);
              transform: translateY(5px); }
    .main-header .menu-button:hover {
      background: rgba(192, 48, 28, 0.5); }

.mobile-menu {
  background-color: #c0301c;
  width: 250px;
  padding: 30px;
  box-sizing: border-box;
  z-index: 10;
  position: fixed;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  transition: all .5s ease;
  top: 0;
  left: 0; }
  .mobile-menu__close {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 30px;
    top: 20px; }
    .mobile-menu__close::after, .mobile-menu__close::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 1px;
      top: 8px;
      left: 0;
      background-color: white; }
    .mobile-menu__close::before {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .mobile-menu__close::after {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .mobile-menu__close:hover::before, .mobile-menu__close:hover::after, .mobile-menu__close:focus::before, .mobile-menu__close:focus::after {
      background-color: rgba(255, 255, 255, 0.7); }
    .mobile-menu__close:active::before, .mobile-menu__close:active::after {
      background-color: #aa2a19; }
  .mobile-menu__list {
    display: flex;
    flex-direction: column; }
  .mobile-menu__item {
    padding: 10px 0;
    border-bottom: 1px solid #aa2a19; }
    .mobile-menu__item a {
      color: white; }
      .mobile-menu__item a:hover, .mobile-menu__item a:focus {
        color: rgba(255, 255, 255, 0.7); }
      .mobile-menu__item a:active {
        color: #aa2a19; }

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px; }
  .site-navigation__item {
    margin-left: 30px; }
    .site-navigation__item a {
      color: white; }
      .site-navigation__item a:hover, .site-navigation__item afocus {
        border-bottom: 1px solid white; }
      .site-navigation__item a:active {
        color: #f4bcb4;
        border: none; }

.title-block {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center; }
  .title-block__title {
    font-size: 48px;
    margin: 0;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .title-block__description {
    font-size: 20px;
    margin: 0;
    margin-bottom: 45px; }

.btn {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 18px 35px;
  border: 1px solid white;
  transition: all 0.3s ease; }
  .btn:hover, .btn:focus {
    border: 1px solid #0e0302;
    color: #0e0302;
    outline: none; }
  .btn:active {
    border: 1px solid #f4bcb4;
    color: #f4bcb4; }

/*services*/
.services {
  padding: 95px 0; }

.section-text {
  text-align: center;
  margin-bottom: 65px; }
  .section-text__title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0; }
    .section-text__title:after {
      content: "";
      display: block;
      margin: 25px auto;
      height: 2px;
      width: 50px;
      background-color: #555555; }
  .section-text__descruption {
    margin: 0; }

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .services-list__item {
    font-size: 14px;
    text-align: center;
    width: 31%; }

.services-item {
  font-size: 14px; }
  .services-item__title {
    text-transform: uppercase; }
  .services-item__description {
    line-height: 24px;
    margin: 0; }
  .services-item .fa {
    font-size: 40px;
    color: #c0301c;
    line-height: 90px;
    width: 90px;
    height: 90px;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: all 0.3s ease; }
    .services-item .fa:hover {
      background-color: #c0301c;
      color: white; }

/*about us*/
.about-us {
  background-color: #f8f8f8;
  padding: 65px 0; }
  .about-us__description-block {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 65px; }
    .about-us__description-block p {
      width: 48%;
      margin: 0; }

.workers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .workers__item {
    text-align: center;
    width: 23%; }
  .workers__avatar {
    position: relative; }
    .workers__avatar:hover .workers__info {
      opacity: 1; }
  .workers__avatar-img img {
    display: block; }
  .workers__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease-out 0.2s;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .workers__name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px; }
  .workers__position {
    font-size: 13px;
    margin: 0;
    margin-bottom: 20px; }

.social {
  display: flex;
  justify-content: center;
  padding-bottom: 10px; }
  .social__item {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    transition: all 0.3s ease; }
    .social__item a {
      display: block;
      color: white; }
    .social__item:hover {
      background-color: #c0301c; }

/*latest works*/
.latest-work {
  padding: 65px 0; }
  .latest-work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .latest-work__item {
    position: relative;
    width: 32%;
    z-index: -1; }
    .latest-work__item:hover .latest-work__info {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: opacity 0.4s ease-out 0.2s; }
  .latest-work__img img {
    display: block; }
  .latest-work__info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(192, 48, 28, 0.7);
    text-align: center;
    color: white;
    opacity: 0; }
  .latest-work__name {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px; }
  .latest-work__brand {
    font-size: 12px;
    margin: 0;
    margin-bottom: 20px; }
  .latest-work__btn {
    color: #c0301c;
    background-color: white;
    border: none; }
    .latest-work__btn:hover, .latest-work__btn:focus {
      outline: 1px solid white;
      background: transparent;
      border: none;
      color: white; }
    .latest-work__btn:active {
      border: none;
      background-color: rgba(103, 26, 15, 0.5);
      outline: none;
      color: rgba(255, 255, 255, 0.3); }

/*your project*/
.your-project {
  background-image: url(../img/your-project.jpg);
  background-size: cover;
  background-position: left top;
  background-color: #be5d4a;
  text-align: center;
  position: relative;
  z-index: 0;
  padding: 90px 0; }
  .your-project__wrapper {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 48, 28, 0.7);
    z-index: -1; }
  .your-project__title {
    color: white;
    font-size: 30px;
    line-height: 44px; }

/*blog posts*/
.blog-posts {
  padding: 65px 0; }

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  border-bottom: 1px solid #d5d5d5; }
  .post:first-child {
    padding-top: 0; }
  .post:last-child {
    border: none;
    padding-bottom: 0; }
  .post__image {
    margin-right: 3%;
    width: 37%; }

.post-text {
  width: 70%; }
  .post-text__wrapper {
    display: flex;
    align-items: center; }
  .post-text .time-wrapper {
    height: 75px;
    width: 75px;
    border: 2px solid #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px; }
    .post-text .time-wrapper time {
      font-size: 24px;
      line-height: 16px;
      text-align: center;
      display: inline-block; }
      .post-text .time-wrapper time span {
        font-size: 14px; }
  .post-text__title {
    font-size: 16px;
    text-transform: uppercase;
    color: #555555;
    margin: 0; }
    .post-text__title:hover, .post-text__title:focus {
      color: #c0301c; }
    .post-text__title:active {
      color: #ee9487; }
  .post-text__description {
    font-size: 13px;
    margin-bottom: 0; }
    .post-text__description a {
      color: #555555; }
      .post-text__description a:hover, .post-text__description a:focus {
        color: #c0301c; }
      .post-text__description a:active {
        color: #ee9487; }
  .post-text__news {
    font-size: 14px;
    line-height: 24px; }
  .post-text__btn {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555; }
    .post-text__btn:hover, .post-text__btn:focus {
      color: #c0301c; }
    .post-text__btn:active {
      color: #ee9487; }

/*clients*/
.clients {
  padding: 65px 0;
  background-color: #f8f8f8; }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px; }
  .clients__item {
    margin-right: 50px; }
    .clients__item:last-child {
      margin-right: 0; }
    .clients__item:hover, .clients__item:focus {
      opacity: 0.5; }
  .clients__text {
    width: 85%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto; }
  .clients__name {
    font-size: 18px; }

.clients-nav {
  display: flex;
  justify-content: center; }
  .clients-nav__item {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    border-radius: 50%;
    background-color: #d5d5d5;
    cursor: pointer; }
    .clients-nav__item:last-child {
      margin-right: 0; }
    .clients-nav__item:active {
      background-color: #c0301c; }

/*Get in touch*/
.contact {
  padding: 65px 0; }
  .contact__flex-wrapper {
    display: flex;
    justify-content: space-between; }
  .contact__list {
    display: flex;
    flex-direction: column;
    margin-right: 2%; }
  .contact__item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 35px; }
    .contact__item::before {
      content: "\f041";
      font-family: FontAwesome;
      font-size: 20px;
      line-height: 20px;
      position: absolute;
      left: 0;
      top: 0; }
    .contact__item:nth-child(2)::before {
      content: "\f10b";
      font-size: 25px;
      line-height: 25px; }
    .contact__item:nth-child(3)::before {
      content: "\f003";
      font-size: 15px;
      line-height: 15px; }
    .contact__item h3 {
      font-size: 14px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 15px; }
    .contact__item p {
      font-size: 12px;
      line-height: 20px;
      margin: 0; }
      .contact__item p span {
        display: none; }

.contact-form {
  width: 65%; }
  .contact-form__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .contact-form input {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #555555;
    width: 48%;
    box-sizing: border-box;
    padding: 18px;
    margin-bottom: 20px;
    margin-right: 3%;
    border: 1px solid #555555;
    outline: none; }
    .contact-form input:hover {
      border-color: #a2a2a2; }
    .contact-form input:focus {
      border-color: #c0301c; }
    .contact-form input:active {
      border-color: #d5d5d5; }
    .contact-form input::-webkit-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #a2a2a2;
      opacity: 1;
      /* Firefox */ }
    .contact-form input:-ms-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #a2a2a2;
      opacity: 1;
      /* Firefox */ }
    .contact-form input::-ms-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #a2a2a2;
      opacity: 1;
      /* Firefox */ }
    .contact-form input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #a2a2a2;
      opacity: 1;
      /* Firefox */ }
    .contact-form input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #a2a2a2; }
    .contact-form input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #a2a2a2; }
  .contact-form input:nth-child(2n) {
    margin-right: 0; }
  .contact-form textarea {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #555555;
    font-family: inherit;
    width: 100%;
    height: 105px;
    box-sizing: border-box;
    padding: 18px;
    margin-bottom: 20px;
    border: 1px solid #555555;
    outline: none; }
    .contact-form textarea:hover {
      border-color: #a2a2a2; }
    .contact-form textarea:focus {
      border-color: #c0301c; }
    .contact-form textarea:active {
      border-color: #d5d5d5; }
  .contact-form__btn {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #555555;
    font-family: inherit;
    text-align: center;
    padding: 17px 36px;
    margin-right: 25px;
    border: 1px solid #555555;
    background-color: transparent;
    cursor: pointer;
    outline: none; }
    .contact-form__btn:hover, .contact-form__btn:focus {
      color: #a2a2a2;
      border-color: #a2a2a2; }
    .contact-form__btn:active {
      color: #d5d5d5;
      border-color: #d5d5d5; }
  .contact-form__down-text {
    font-size: 12px; }
    .contact-form__down-text span {
      color: #c0301c; }

/*footer*/
.main-footer {
  background-color: #c0301c;
  padding: 65px 0;
  margin-top: -4px; }
  .main-footer__copyright {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    text-align: center; }
  .main-footer__footer-menu {
    margin-bottom: 15px; }
  .main-footer .footer-menu {
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main-footer .footer-menu__item {
      margin: 0 15px; }
      .main-footer .footer-menu__item a {
        color: rgba(255, 255, 255, 0.3); }
        .main-footer .footer-menu__item a:hover, .main-footer .footer-menu__item a:focus {
          color: white; }
        .main-footer .footer-menu__item a:active {
          color: #932516; }

@media screen and (max-width: 1170px) {
  .container {
    width: 90%; } }

@media screen and (max-width: 992px) {
  .services-list {
    flex-direction: column;
    align-items: center; }
    .services-list__item {
      width: 80%;
      margin-bottom: 40px; }
      .services-list__item:last-child {
        margin-bottom: 0; } }

@media screen and (max-width: 930px) {
  .workers__item {
    width: 45%; }
    .workers__item:nth-child(1), .workers__item:nth-child(2) {
      margin-bottom: 20px; }
  .clients__list {
    width: 80%;
    margin: 0 auto; }
  .contact__flex-wrapper {
    flex-direction: column-reverse; }
  .contact__list {
    flex-direction: row;
    justify-content: space-between; }
  .contact .contact-form {
    width: 100%; }
    .contact .contact-form__button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center; }
    .contact .contact-form__down-text {
      text-align: center;
      margin-bottom: 50px; }
  .clients__text {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .main-header {
    min-height: 600px; }
    .main-header__main-navigation {
      justify-content: flex-start; }
    .main-header__logo {
      margin-left: 10px; }
  .site-navigation {
    display: none; }
  .open {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    transition: all .5s ease;
    overflow-y: auto;
    z-index: 5; }
  .menu-bg {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(58, 15, 9, 0.5);
    display: none;
    z-index: 4; }
  .show {
    display: block; }
  .main-header .menu-button {
    display: block; }
  .title-block {
    width: 90%;
    margin: 0 auto; }
    .title-block__title {
      font-size: 36px; }
  .services,
  .latest-work,
  .about-us,
  .your-project,
  .blog-posts,
  .clients,
  .contact,
  .main-footer {
    padding: 45px 0; }
  .section-text {
    margin-bottom: 35px; }
  .services-list__item {
    margin-bottom: 25px;
    width: 100%; }
  .about-us__description-block {
    margin-bottom: 35px;
    flex-direction: column; }
    .about-us__description-block p {
      width: 100%;
      margin-bottom: 25px; }
      .about-us__description-block p:last-child {
        margin-bottom: 0; }
  .your-project__title {
    font-size: 26px;
    line-height: 34px; }
  .blog-posts__list {
    width: 90%;
    margin: 0 auto; }
  .post {
    flex-direction: column; }
    .post__image {
      width: 60%;
      margin-bottom: 25px;
      margin-right: 0; }
    .post .post-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .clients__list {
    width: 100%; }
  .contact__item {
    text-align: center;
    padding-left: 0; }
    .contact__item:before {
      left: 50%;
      margin-top: -25px; } }

@media screen and (max-width: 690px) {
  .contact-form {
    margin-bottom: 30px; }
  .contact__list {
    flex-direction: column;
    align-items: center; }
  .contact__item {
    margin: 0;
    margin-bottom: 45px; }
    .contact__item:last-child {
      margin-bottom: 0; }
    .contact__item p {
      display: inline-block;
      padding: 0 25px; }
      .contact__item p span {
        display: inline-block; }
    .contact__item p > br {
      display: none; }
  .contacts-form__flex input {
    width: 100%; }
  .map iframe {
    height: 250px; } }

@media screen and (max-width: 576px) {
  .workers {
    flex-direction: column;
    align-items: center; }
    .workers__item {
      width: 60%; }
  .latest-work__list {
    flex-direction: column;
    align-items: center; }
  .latest-work__item {
    width: 60%;
    margin-bottom: 25px; }
  .your-project__title {
    font-size: 22px;
    line-height: 30px; }
  .clients__item:nth-child(2n) {
    margin-right: 0px; }
  .clients__item:last-child {
    display: none; } }

@media screen and (max-width: 400px) {
  .main-header {
    min-height: 500px; }
  .title-block__title {
    font-size: 28px; }
  .title-block__description {
    font-size: 16px; }
  .section-text__description {
    font-size: 12px; }
  .latest-work__item,
  .workers__item,
  .post__image {
    min-width: 220px; }
  .your-project__title {
    font-size: 17px; }
  .contact .contact-form input {
    margin-bottom: 10px; }
  .contact .contact-form__button-wrapper {
    justify-content: space-between; }
  .contact .contact-form__btn {
    margin-right: 0;
    padding: 17px 32px; } }
